.sidebar{
    margin-top: 30px;
    width: 200px;
}

.sidebar li{
    display: flex;
border-radius: 4px;
    margin: 5px 0;
    padding:10px 5px;
    cursor: pointer;
} 

.sidebar li p{
    font-weight: 200;
    margin-right: 10px;
    color: grey;
}
.selected{
    background: rgba(166, 38, 38,0.2);
    color: #fff;
}
